body.dark-mode{
    background:#020617;
    color:white;
}

body.dark-mode .topbar,
body.dark-mode .card,
body.dark-mode .table-container{
    background:#0f172a;
    color:white;
}

body.dark-mode table{
    color:white;
}

body.dark-mode td{
    border-bottom:1px solid #334155;
}

body.dark-mode tr:hover{
    background:#1e293b;
}

body.dark-mode .sidebar{
    background:#000;
}

body.dark-mode .btn-primary{
    background:#06b6d4;
    color:white;
}