{% extends 'custom_admin/base.html' %}
{% load static %}

{% block content %}

<div class="cards">

    <div class="card">
        <h4>Total Users</h4>
        <h2>{{ total_users }}</h2>
    </div>

    <div class="card">
        <h4>Total Products</h4>
        <h2>{{ total_products }}</h2>
    </div>

    <div class="card">
        <h4>Total Orders</h4>
        <h2>{{ total_orders }}</h2>
    </div>

    <div class="card">
        <h4>Revenue</h4>
        <h2>₦{{ revenue }}</h2>
    </div>
    
    <div class="card">

    <h4>Failed Purchases</h4>

    <h2>{{ failed_purchases }}</h2>

</div>
</div>

<div class="table-container">

<h3>Recent Orders</h3>

<br>

<table>
    <tr>
        <th>Reference</th>
        <th>Customer</th>
        <th>Amount</th>
        <th>Status</th>
    </tr>

    {% for order in recent_orders %}
    <tr>
        <td>{{ order.reference }}</td>
        <td>{{ order.full_name }}</td>
        <td>₦{{ order.amount }}</td>

        <td>
            {% if order.status == 'paid' %}
            <span class="badge-paid">Paid</span>
            {% else %}
            <span class="badge-pending">
                {{ order.status }}
            </span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>

</div>

{% endblock %}