# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Django
db.sqlite3
media/

# Environment Variables
.env
.env.txt

# IDE
.vscode/
.idea/

# OS Files
Thumbs.db
.DS_Store

# Logs
*.log
