@media(max-width:991px){

    .sidebar{
        width:220px;
    }

    .main{
        margin-left:220px;
    }
}

@media(max-width:768px){

    .sidebar{
        position:relative;
        width:100%;
        height:auto;
    }

    .main{
        margin-left:0;
    }

    .cards{
        grid-template-columns:1fr;
    }

    table{
        display:block;
        overflow-x:auto;
        white-space:nowrap;
    }
}

@media(max-width:480px){

    .topbar{
        text-align:center;
    }

    .card h2{
        font-size:22px;
    }
}
